
/*reset code and common code start here*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
list-style-type: none;
text-decoration: none;
font-weight: 400px;


}
html {
    background-color: #fafafa;
    font-size: 47.5%;
    scroll-behavior: smooth;
    /*font-family: 'Italianno', cursive;*/
    font-family: 'Roboto', sans-serif;

}

body {
     background-color: #fff;
     width: 130rem;
     max-width: 100%;
     margin: auto;
     box-shadow: 0.3rem 0.3rem #c4c4c4; -0,1rem 0rem 0.1rem#c4c4c4;
    

}

.text-justify {
    text-align: justify;
}

.text-white {
    color: rgb(217, 235, 232);
}

.section-heading {
    font-size: 8rem;
    text-align: center;
    font-family: 'Italianno', cursive;
}

.section-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    background-color: rgba(16, 117, 29, 0.658);
    border-radius: .5rem;
    box-shadow: .3rem .3rem .3rem #222;
    cursor: pointer;
    font-size: 1.8rem;
    padding: 1.1rem;
    letter-spacing: .1rem;
    text-transform: uppercase;

}


/*reset code and common code end here*/

/*header start*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fff;
    padding: 2rem 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 5vh;


}


.logo-figure {
    border: 1px solid #fff;
}

.logo {
    font-size: 4rem;
}
nav li {
    display: inline-block;
    margin-right: 2rem;
    padding: 1rem;
    transition: all 0.3s;
}
nav li a {
    font-size: 2rem;
    color: aqua;
}

.nav-li:last-child {
    margin-right: 0;
}
nav li:hover {
    background-color: rgb(40, 64, 78);
    border-radius: .7rem;
 

}
nav li a:hover {
    padding: 1rem;
    text-decoration: underline;
}
nav-link {
    font-size: 1.9rem;
    cursor: pointer;
    
}
/*header end*/

/*banner section starts here*/
#blog-banner-section {
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90vh;

}

#blog-banner-section article {
    flex-basis: 50%;
    margin: 1rem;
}
.banner-heading {
    display: inline-block;
    padding: 1rem ;
    font-size: 4rem;
    margin-bottom: 1.7rem;
    background-color: rgb(1, 7, 9);
    color: rgb(108, 175, 170);
}

.banner-description {
    font-size: 1.8rem;
}

#blog-banner-section aside {
    flex-basis: 50%;  
}

.banner-image {
    width: 55rem;
    height: 55rem;
    border: 0.2rem solid hotpink;

}
/*banner section starts here*/

/*About starts here*/
#blog-about {
    min-height: 95vh;
    padding: 5rem 1rem;
    background-color: #47484b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.card-container {
    display: flex;
    align-items: center;
}
.card {
    flex: 1;
    border-radius: 1rem;
    background-color: #2b6951b0;
    padding: 3rem 1rem;
    margin: 2.1rem;
    display: flex;
    flex-direction: column;
    transform: .3s;
}
.card:hover {
    transform: scale(1.03);
    background-color: rgba(37, 134, 141, 0.692);
    
}

.card-header {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5rem
}

.card-description {
    font-size: 1.5rem;
    text-align: justify;
    margin-bottom: 10rem;
}

.card-btn {
   align-self: center;
   width: 85%; 
}


/*About end here*/



/*responsive start here*/

@media(max-width: 992px) {
#blog-banner-section {
    flex-direction: column;
    display: flex;
}
#blog-banner-section article {
   width: 50%;
   display: flex;
   flex-direction: column; 
   align-items: center;
   margin-bottom: 5rem;

}

.card-container {
    width: 50%;
    flex-direction: column;
    flex-wrap: wrap;
} 

}
@media(max-width: 768px) {

   html {
       font-size: 57%;
   } 
   #blog-banner-section article {
       width: 75%;
   }

.card-container {
    width: 75%;
    
} 
}

@media(max-width: 600px) {

header {
    flex-direction: column;
}
nav ul {
    padding-left: 2.4rem;
}
nav li {
    display: block;
    margin-right: 0;
    margin: 1rem;
}
#blog-banner-section {
    min-height: auto;
}
#blog-banner-section article {
    width: 90%;   
}
#blog-about {
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.banner-image {
    min-width: 100%;
}

.card-container {
    width: 90%;
    
 } 
}

@media(max-width: 400px) {

    .card-container {
        width: 95%;
        
    } 
  
}

/*responsive end here*/
